.card {
  background-color: var(--mantine-color-body);
}

.title {
  font-weight: bold;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1.2;
  color: yellow;
}

.body {
  padding: var(--mantine-spacing-md);
}